Repository tastekim/WeAllLie-BE, pull requests merged in 2022-12, with the labels that each got.

#130 Room 방 입,퇴장 메세지 및 닉네임 추가 에밋
  src/rooms/room-socket.js
Labels: rooms

#131 투표 동점시 로직 추가
  src/game/game-provider.js
  src/game/game-repo.js
  src/game/game-socket.js
Labels: game

#133 12/02 형석 방 입,퇴장메세지 수정 및 닉네임 전송
  src/rooms/room-socket.js
Labels: rooms

#137 Room 현재인원 전송방법 수정
  src/chat/chat-socket.js
  src/rooms/room-socket.js
Labels: rooms

#138 12/03 형석 redis 현재인원 추가
  src/rooms/room-socket.js
Labels: rooms

#146 game/complete 게임 로직 에러 부분 수정
  src/game/game-provider.js
  src/game/game-repo.js
  src/game/game-socket.js
Labels: game

#149 Test/test 테스트 코드 작성할 디렉토리 세팅
  test/game-test/dummy.txt
  test/mockData/dummy.txt
  test/room-test/dummy.txt
  test/user-test/dummy.txt
Labels: test

#152 nowVote 이벤트에서 voteStatus 매개변수 추가
  src/game/game-socket.js
Labels: bug, game

#166 Game/complete 최종 투표 기능 및 스파이 정답 맞추기 기능 추가
  src/game/game-provider.js
  src/game/game-socket.js
Labels: enhancement, game

#168 room에 ready 부분 조건문 수정, wrapAsyncController 파일 추가
  src/middlewares/wrap-async-controller.js
  src/rooms/room-socket.js
Labels: enhancement, rooms

#173 Chat/chat 룸 채팅 에밋 방식 변경 / 로그인 롤백 / 에러 처리 롤백
  src/chat/chat-socket.js
  src/middlewares/auth-middleware.js
  src/middlewares/exception.js
  src/middlewares/login-middleware.js
  src/middlewares/user-error-handler.js
  src/users/user-provider.js
  src/users/user-repo.js
  src/users/user-route.js
  src/users/util/user-function.js
Labels: fixes

#176 game-socket.js 에러 핸들링 추가
  src/game/game-provider.js
  src/game/game-repo.js
  src/game/game-socket.js
  src/middlewares/exception.js
  src/middlewares/test.js
  src/rooms/room-socket.js
  src/socket.js
Labels: enhancement, game, socket.io

#178 Refactoring room 3차 수정
  src/rooms/room-provider.js
  src/rooms/room-repo.js
  src/rooms/room-socket.js
  src/schemas/room.js
  src/socket.js
Labels: socket.io, rooms, fixes

#179 1208 형석 리팩토링 룸
  src/socket.js
Labels: socket.io, rooms

#186 User/login 불필요한 임포트 제거 / 에러 catch 시 리턴하는 코드 수정 / 에러객체 수정 / 테스트코드 진행중 / 파일명, 메소드명 수정 / 닉네임 변경 예외 처리 추가
  src/middlewares/auth-middleware.js
  src/middlewares/exception.js
  src/users/user-controller.js
  src/users/user-provider.js
  src/users/user-repo.js
  src/users/user-route.js
  src/users/user-service.js
  src/users/util/user-function.js
  test/mockData/UserFuntionData.js
  test/user-test/user-controller.test.js
  test/user-test/user-function.spec.js
  test/user-test/user-repo.test.js
  test/user-test/user-service.spec.js
  test/user-test/user-service.test.js
Labels: user, fixes

#187 최종 투표 기능 로직 수정 및 프론트 요청 사항 수정
  src/game/game-provider.js
  src/game/game-repo.js
  src/game/game-socket.js
  src/rooms/room-provider.js
  src/rooms/room-socket.js
Labels: game, socket.io, fixes

#188 room 로직 에러 부분 수정 및 설정 파일 수정
  .eslintrc
  package-lock.json
  package.json
  src/app.js
  src/rooms/room-provider.js
  src/rooms/room-socket.js
  src/socket.js
  test/user-test/user-function.spec.js
Labels: bug, socket.io, rooms, fixes

#192 userNickname 이벤트 메세지 추가
  src/game/game-socket.js
Labels: enhancement, game, socket.io

#196 Game/complete 투표 기능 로직 추가 수정
  src/game/game-provider.js
  src/game/game-socket.js
  src/socket.js
  src/users/user-service.js
Labels: bug, game, fixes

#197 room-socket.js에 setTimeout, ready 이벤트의 redis del 구문 삭제
  src/rooms/room-socket.js
Labels: bug, rooms, fixes

#202 User/login users 디렉토리 단위테스트 작성 완료 + coverage 폴더 삭제
  .gitignore
  package-lock.json
  package.json
  src/app.js
  src/users/user-controller.js
  src/users/user-repo.js
  src/users/user-service.js
  src/users/util/user-function.js
  src/users/util/wrap-async.js
  test/mockData/UserFuntionData.js
  test/mockData/user-data.js
  test/user-test/jwt.spec.js
  test/user-test/user-controller.spec.js
  test/user-test/user-function.spec.js
  test/user-test/user-repo.spec.js
  test/user-test/user-service.spec.js
Labels: test

#207 Create README.md
  README.md
Labels: documentation, enhancement

#210 room-socket.js 이벤트 메세지 내 에러 수정 및 에러핸들링 수정
  src/game/game-provider.js
  src/rooms/room-provider.js
  src/rooms/room-socket.js
Labels: bug, rooms, fixes

#213 프론트 요청사항 로직 추가 (유저의 ready 상태가 담긴 배열안의 객체 형식)
  src/rooms/room-provider.js
  src/rooms/room-socket.js
  test.js
Labels: enhancement, rooms

#215 프론트 요청사항 로직 에러 수정
  src/rooms/room-socket.js
Labels: bug, socket.io, rooms

#216 readme 최종
  README.md
Labels: documentation, enhancement
