Repository tastekim/WeAllLie-BE, pull requests merged in 2022-11, with the labels that each got.

#35 11-13 형석쓰 작업 결과
  src/app.js
  src/rooms/room-provider.js
  src/rooms/room-repo.js
  src/rooms/room-socket.js
  src/rooms/roomFront.js
  src/schemas/room.js
  src/server.js
Labels: rooms

#52 20221115 연석 redis 설치 및 연결
  .gitignore
  package-lock.json
  package.json
  src/app.js
  src/game/game-provider.js
  src/game/game-repo.js
  src/game/game-socket.js
  src/redis.js
  src/rooms/room-socket.js
  src/schemas/game.js
  src/schemas/room.js
  src/server.js
  src/socket.js
Labels: enhancement

#63 Prettier, ESLint, Babel 설치 및 초기 설정 적용
  .babelrc
  .eslintrc
  .prettierrc
  nodemon.json
  package-lock.json
  package.json
  server.js
  src/app.js
  src/game/game-provider.js
  src/game/game-repo.js
  src/game/game-socket.js
  src/middlewares/auth-middleware.js
  src/middlewares/passport/index.js
  src/middlewares/passport/kakao-stratege.js
  src/redis.js
  src/rooms/room-socket.js
  src/schemas/game.js
  src/schemas/index.js
  src/schemas/room.js
  src/schemas/user.js
  src/server.js
  src/socket.js
  src/users/user-route.js
Labels: enhancement

#65 redis -> ioredis 로 설정 변경
  .idea/jsLibraryMappings.xml
  .idea/wearelie.iml
  package-lock.json
  package.json
  src/game/game-provider.js
  src/game/game-repo.js
  src/game/game-socket.js
  src/redis.js
  src/rooms/room-socket.js
  src/schemas/user.js
Labels: enhancement

#72 Room 방 수정본!
  server.js
  src/rooms/room-socket.js
Labels: rooms

#74 [Feature] 게임 진행 중 중간 투표 기능.
  .eslintrc
  src/game/game-provider.js
  src/game/game-repo.js
  src/game/game-socket.js
  src/schemas/user.js
Labels: game

#80 Room 수정사항!!
  .eslintrc
  server.js
  src/rooms/room-repo.js
  src/rooms/room-socket.js
  src/rtcChat/rtcChat.js
Labels: rooms

#94 Chat/chat
  .gitignore
  server.js
  src/chat/chat-provider.js
  src/chat/chat-repo.js
  src/chat/chat-socket.js
Labels: socket.io

#109 socket 로직 수정 3 반장 퇴장 로직 수정
  .idea/wearelie.iml
  src/rooms/room-socket.js
Labels: socket.io

#111 게임 room 로직 수정 / 방장 퇴장 시 방 삭제 및 다른 참가자도 퇴장
  src/game/game-provider.js
  src/game/game-socket.js
Labels: rooms

#116 Dockerfile 추가 , docker/test close
  .dockerignore
  .gitignore
  Dockerfile
  server.js
  src/socket.js
Labels: enhancement

#123 (재)게임 로직 수정
  server.js
  src/game/game-provider.js
  src/game/game-socket.js
  src/rooms/room-socket.js
Labels: socket.io, rooms

#124 ready 부분에서 spy 정보 및 제시어 전달 과정 추가, 그 외 추가 수정 내용.
  src/game/game-provider.js
  src/rooms/room-socket.js
Labels: game, rooms

#128 Game/complete - ready 기능 마무리 및 게임 시작 전 스파이 / 제시어 전달
  src/game/game-provider.js
  src/rooms/room-socket.js
Labels: bug, enhancement
